.nav a {
  color: white;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
}
.nav a:hover {
  color: #FFD700;
}
.nav a.active {
  color: #FFD700;
}

#menu-movil {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

#menu-movil.active {
  transform: translateY(0);
}