<header>
  <a routerLink="/" class="d-none d-md-block"><img class="w-100" src="general/logo.png" alt="logo"></a>
  <div class="d-flex container-fluid text-white justify-content-center align-items-center py-2"
    style="background-color: #21174C;">
    <button class="col-2 col-md-4 navbar-toggler d-flex d-md-none fs-1 px-1 px-md-0 py-1 py-md-0" type="button"
      (click)="alternarMenu()">
      <i class="fa fa-bars"></i>
    </button>
    <div class="col-8 col-md-4"><a class="nav-link fs-5 fw-bold text-center text-md-start" routerLink="/">Luis✪F
        Series</a></div>
    <ul class="col-4 col-md-4 nav justify-content-center gap-3 d-none d-md-flex">
      <li class="nav-item">
        <a class="nav-link fw-light" style="font-size: 1.2rem;" routerLink="/" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-home"></i> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-light" style="font-size: 1.2rem;" routerLink="/series" routerLinkActive="active">
          <i class="fa-solid fa-tv"></i> Series
        </a>
      </li>
    </ul>
    <div class="col-2 col-md-4 text-end">
      <a class="d-none d-md-inline btn btn-outline-primary border-0 text-white me-1" type="button" routerLink="/login" routerLinkActive="active">
        Iniciar Sesión
      </a>
      <a class="d-none d-md-inline btn btn-primary border-0 text-white me-1" type="button" routerLink="/login" routerLinkActive="active">
        Crear Cuenta
      </a>
      <button class="navbar-toggler d-inline d-md-none fs-1 px-1 px-md-0 py-1 py-md-0" type="button"
        (click)="alternarCuenta()">
        <i class="fa fa-user-circle ms-auto"></i>
      </button>
    </div>
  </div>
</header>
<div id="menu" class="position-absolute w-100 h-100 top-0 overflow-hidden d-flex" style="z-index: 10;"
    [ngClass]="{ 'active': menuAbierto }">
  <div class="w-100 h-100 position-absolute" style="background-color: rgba(0, 0, 0, 0.5);" (click)="alternarMenu()"></div>
  <div id="menu-contenido" class="d-flex w-auto h-100 me-auto py-2" style="background-color: #21174C;" [ngClass]="{ 'active': menuAbierto }">
    <!-- cerrar boton -->
    <button class="btn btn-danger position-absolute end-0 px-2 py-1 d-flex align-items-center" type="button" (click)="alternarMenu()" style="transform: translateX(140%) translateY(13%);">
      <i class="fa fa-times fs-4"></i>
    </button>
    <div class="d-flex flex-column">
      <a class="btn btn-outline-primary border-0 rounded-0 text-white text-start d-flex align-items-center justify-content-center px-3" role="button" routerLink="/" (click)="alternarCuenta()">
        <i class="fa-solid fa-home me-3"></i><span class="me-auto" style="padding-bottom: .15rem;">Inicio</span><i class="fa-solid fa-angle-right ms-3"></i>
      </a>
      <a class="btn btn-outline-primary border-0 rounded-0 text-white text-start d-flex align-items-center justify-content-center px-3" role="button" routerLink="/series" (click)="alternarCuenta()">
        <i class="fa-solid fa-tv me-3"></i><span class="me-auto" style="padding-bottom: .15rem;">Series</span><i class="fa-solid fa-angle-right ms-3"></i>
      </a>
    </div>
  </div>
</div>
<div id="cuenta" class="position-absolute w-100 h-100 top-0 overflow-hidden d-flex" style="z-index: 10;"
    [ngClass]="{ 'active': cuentaAbierto }">
  <div class="w-100 h-100 position-absolute" style="background-color: rgba(0, 0, 0, 0.5);" (click)="alternarCuenta()"></div>
  <div id="cuenta-contenido" class="d-flex w-auto h-100 ms-auto py-2" style="background-color: #21174C;" [ngClass]="{ 'active': cuentaAbierto }">
    <!-- cerrar boton -->
    <button class="btn btn-danger position-absolute px-2 py-1 d-flex align-items-center" type="button" (click)="alternarCuenta()" style="transform: translateX(-140%) translateY(13%);">
      <i class="fa fa-times fs-4"></i>
    </button>
    <div class="d-flex flex-column">
      <a *ngIf="!sesionIniciada" class="btn btn-outline-primary border-0 rounded-0 text-white text-start d-flex align-items-center justify-content-center px-3" role="button" routerLink="/admin" (click)="alternarCuenta()">
        <i class="fa fa-user-circle me-3"></i><span class="me-auto" style="padding-bottom: .15rem;">Iniciar Sesión</span><i class="fa-solid fa-angle-right ms-3"></i>
      </a>
      <a *ngIf="!sesionIniciada" class="btn btn-outline-primary border-0 rounded-0 text-white text-start d-flex align-items-center justify-content-center px-3" role="button" (click)="alternarCuenta()">
        <i class="fa fa-user-circle me-3"></i><span class="me-auto" style="padding-bottom: .15rem;">Crear Cuenta</span><i class="fa-solid fa-angle-right ms-3"></i>
      </a>
      <button *ngIf="sesionIniciada" class="btn btn-outline-primary border-0 rounded-0 text-white text-start d-flex align-items-center justify-content-center px-3" type="button" (click)="cerrarSesion()">
        <i class="fa fa-sign-out-alt me-3"></i><span class="me-auto" style="padding-bottom: .15rem;">Cerrar Sesión</span><i class="fa-solid fa-angle-right ms-3"></i>
      </button>
    </div>
  </div>
</div>
<!-- <div id="menu-movil" class="position-absolute w-100 h-100 d-flex" style="z-index: 10;"
  [ngClass]="{ 'active': menuAbierto }">
  <div style="background-color: #21174C;">
    <ul class="nav justify-content-center gap-3 flex-column opacity-100 p-3">
      <li class="nav-item">
        <a class="nav-link active fw-light" style="width: max-content; font-size: 1.1rem;" routerLink="/"
          routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-home"></i> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-light" style="width: max-content; font-size: 1.1rem;" routerLink="/series"
          routerLinkActive="active">
          <i class="fa-solid fa-tv"></i> Series
        </a>
      </li>
    </ul>
  </div>
  <div id="menu-bg" [ngClass]="{ 'active': menuAbierto }" class="w-100 bg-dark opacity-25" (click)="alternarMenu()">
  </div>
</div>
<div id="menu-account" class="position-absolute w-100 h-100 d-flex flex-row-reverse" style="z-index: 10;"
  [ngClass]="{ 'active': cuentaAbierto }">
  <div style="background-color: #21174C;">
    <ul class="nav justify-content-center gap-3 flex-column opacity-100 p-3">
      <li class="nav-item">
        <a class="nav-link active fw-light" style="width: max-content; font-size: 1.1rem;" routerLink="/"
          routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-home"></i> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-light" style="width: max-content; font-size: 1.1rem;" routerLink="/series"
          routerLinkActive="active">
          <i class="fa-solid fa-tv"></i> Cerrar Sesión
        </a>
      </li>
    </ul>
  </div>
  <div id="menu-bg" [ngClass]="{ 'active': menuAbierto }" class="w-100 bg-dark opacity-25" (click)="alternarCuenta()">
  </div>
</div> -->