<header style="z-index: 11; position: relative;">
  <a routerLink="/" class="d-none d-md-block"><img class="w-100" src="general/logo.png" alt="logo"></a>
  <div class="d-flex container-fluid text-white justify-content-center align-items-center py-2"
    style="background-color: #21174C;">
    <button class="col-2 col-md-4 navbar-toggler d-flex d-md-none fs-2" type="button" (click)="toggleMenu()">
      <i class="fa" [class.fa-bars]="!menuActive" [class.fa-times]="menuActive"></i>
    </button>
    <div class="col-8 col-md-4"><a class="nav-link fs-5 fw-bold text-center text-md-start" routerLink="/">Luis✪F Series</a></div>
    <ul class="col-4 nav justify-content-center gap-3 d-none d-md-flex">
      <li class="nav-item">
        <a class="nav-link active fw-light fs-5" href="#">
          <i class="fa-solid fa-home"></i> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-light fs-5" href="#">
          <i class="fa-solid fa-tv"></i> Series
        </a>
      </li>
    </ul>
    <div class="col-2 col-md-4"></div>
  </div>
</header>
<div id="menu-movil" class="position-absolute w-100 d-fill d-flex d-md-none" style="z-index: 10; background-color: #21174C;" [ngClass]="{ 'active': menuActive }">
  <ul class="nav justify-content-center gap-3 flex-column opacity-100 p-3">
    <li class="nav-item">
      <a class="nav-link active fw-light fs-5" href="#">
        <i class="fa-solid fa-home"></i> Inicio
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link fw-light fs-5" href="#">
        <i class="fa-solid fa-tv"></i> Series
      </a>
    </li>
  </ul>
</div>

<ng-template #menuTemplate>
  <div *ngIf="menuActive" class="menu-container">
    <div [ngTemplateOutlet]="menuTemplate"></div>
  </div>
  <div class="menu-container">
    <a class="menu-icon" [class.active]="menuActive" (click)="toggleMenu()">
      <i class="fa" [class.fa-bars]="!menuActive" [class.fa-times]="menuActive"></i>
    </a>

    <div class="title">
      <a routerLink="/">Luis✪F Series</a>
    </div>

    <div class="p-3"></div>

    <!-- <div class="user-icon" (click)="toggleDropdown()">
      <img src="general/user-default.jpg" alt="menu">
    </div> -->


    <div class="desktop w-100">
      <div [ngTemplateOutlet]="menuTemplate"></div>
    </div>

    <!-- <div class="actions">
      <ng-container *ngIf="!isLoggedIn">
        <a class="login btn btn-outline-primary" (click)="openLoginModal()">
          Iniciar sesión
        </a>
        <a class="singup btn btn-primary" (click)="openSignupModal()">
          Registrarse
        </a>
      </ng-container>

      <div *ngIf="isLoggedIn" class="user-profile" (click)="toggleDropdown()">
        <img [src]="userProfilePicture" class="profile-picture" alt="Foto de perfil de {{ userName }}">
        <span class="username ms-2">{{ userName }}</span>
      </div>

      <div *ngIf="isLoggedIn" [ngTemplateOutlet]="loggedInTemplate"></div>
    </div> -->

  </div>
  <nav class="nav menu-bar" [class.active]="menuActive">
    <a *ngFor="let item of menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: item.exact}"
      [routerLink]="item.url"><i [class]="item.icon"></i> {{ item.nombre }}</a>
  </nav>
</ng-template>

<ng-template #loggedInTemplate>
  <div class="dropdown-menu" *ngIf="dropdownOpen">
    <a class="dropdown-item" (click)="logout()">
      <i class="fa-solid fa-user me-2"></i>Perfil
    </a>
    <a class="dropdown-item" (click)="logout()">
      <i class="fa-solid fa-gear me-2"></i>Configuración
    </a>
    <a class="dropdown-item" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket me-2"></i>Cerrar Sesión
    </a>
  </div>
</ng-template>