<div *ngIf="mensaje" class="text-center bg-success text-white p-2">
    <span><i class="fa fa-check-circle me-2"></i>{{ mensaje }}</span>
</div>
<div class="container-fluid text-center my-4 text-white">
    <h3 class="fw-bold mb-3">Perfil</h3>
    <div class="justify-content-center mx-auto col-12 col-md-5 col-xl-4">
        <div id="camera-container" class="mx-auto rounded-circle overflow-hidden"
            style="width: 10rem; height: 10rem;">
            <img class="rounded-circle" style="width: 10rem; height: 10rem;" [src]="avatar || 'general/user-default.jpg'" alt="user">
            <button id="camera-btn" class="border-0 w-100 text-light fs-4 py-1" (click)="inputAvatar.click()"
                style="background-color: rgba(0, 0, 0, 0.8); transform: translateY(-100%);">
                <i class="fa-solid fa-camera"></i>
            </button>
            <input #inputAvatar type="file" accept="image/*" (change)="seleccionarAvatar($event)" hidden>
        </div>
        <span class="text-danger d-block mt-2" *ngIf="errorAvatar">{{ errorAvatar }}</span>

        <div class="table-responsive mt-4">
            <table class="table table-striped table-bordered m-0 rounded">
                <tbody>
                    <tr>
                        <th class="text-start p-3" style="font-weight: normal;">Nombre de usuario</th>
                        <td class="text-start p-3" style="font-weight: normal;">
                            <div class="d-flex align-items-center">
                                <ng-container *ngIf="editandoUsuario; else verUsuario">
                                    <div class="d-flex flex-column gap-1">
                                        <div class="d-flex align-items-center">
                                            <input [(ngModel)]="nuevo_usuario" class="form-control d-inline w-auto me-2" placeholder="Nombre de usuario" />
                                            <button class="btn btn-success me-2 btn-sm" (click)="guardarUsuario()">
                                                <i class="fa-solid fa-check"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm" (click)="cancelarEdicion()">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </div>
                                        <small class="text-danger ms-2" *ngIf="errorUsuario">{{ errorUsuario }}</small>
                                    </div>
                                </ng-container>
                                
                                <ng-template #verUsuario>
                                    <span *ngIf="usuario" class="me-2">{{ usuario }}</span>
                                    <span *ngIf="!usuario" class="me-2 text-muted">Sin nombre de usuario</span>
                                    <button class="btn btn-primary btn-sm" (click)="editandoUsuario = true">
                                        <i class="fa-solid" [ngClass]="usuario ? 'fa-pen-to-square' : 'fa-plus'"></i>
                                    </button>
                                </ng-template>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start p-3" style="font-weight: normal;">Correo electrónico</th>
                        <td class="text-start p-3" style="font-weight: normal;">{{ email }}</td>
                    </tr>
                    <tr>
                        <th class="text-start p-3" style="font-weight: normal;">Contraseña</th>
                        <td class="text-start p-3" style="font-weight: normal;">
                            <a class="btn btn-primary" routerLink="/actualizar-password">Actualizar contraseña</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>