<div id="admin" *ngIf="!accesoPermitido else contenidoPrivado" class="container-fluid text-center mt-5 text-white">
    <h3 class="fw-bold mb-5">Inicia sesión como Administrador</h3>
    <form class="justify-content-center mx-auto col-12 col-md-4 col-xl-3" (ngSubmit)="iniciarSesion()">
        <input class="form-control mb-3" type="email" [(ngModel)]="email" placeholder="Correo electrónico" name="email"
            required />
        <div class="input-group p-0">
            <input class="form-control" [type]="mostrarPassword ? 'text' : 'password'" [(ngModel)]="password"
                placeholder="Contraseña" name="password" required />
            <button type="button" class="btn btn-secondary" style="width: 3rem;" (click)="alternarPassword()"
                tabindex="-1">
                <i class="fa" [ngClass]="mostrarPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </button>
        </div>
        <button type="submit" class="btn btn-primary w-100 px-4 mt-3">Ingresar</button>
        <p *ngIf="error" class="text-danger mt-3">{{ error }}</p>
    </form>
</div>

<ng-template #contenidoPrivado>
    <div class="container-fluid text-center text-white">
        <h3 class="fw-bold mt-5 mb-4">Panel de Administrador</h3>
        <p class="lead">¡Bienvenido al panel de administración!. Aquí puedes gestionar todas las series.</p>
    </div>
</ng-template>