<div *ngIf="accesoPermitido" class="position-fixed bottom-0 end-0 d-flex align-items-end flex-column m-4 text-end">
    <div #menuRef class="collapse mb-2" id="menuFlotante">
        <div class="d-flex flex-column border border-success rounded shadow-sm p-2 gap-1"
            style="background-color: #1B1B3A;">
            <a class="btn btn-outline-primary border-0 text-start text-white" routerLink="admin">
                <i class="fa-solid fa-user-gear text-center me-1" style="width: 1.3rem;"></i>
                Administrador
            </a>
            <a class="btn btn-outline-primary border-0 text-start text-white" routerLink="agregar-serie">
                <i class="fa-solid fa-plus text-center me-1" style="width: 1.3rem;"></i>
                Agregar Serie
            </a>
            <a class="btn btn-outline-primary border-0 text-start text-white" routerLink="gestionar-series">
                <i class="fa-solid fa-pen-to-square text-center me-1" style="width: 1.3rem;"></i>
                Editar Serie
            </a>
            <a class="btn btn-outline-danger border-0 text-start text-white" (click)="cerrarSesion()">
                <i class="fa-solid fa-right-from-bracket text-center me-1" style="width: 1.3rem;"></i>
                Cerrar Sesión
            </a>
        </div>
    </div>

    <button #toggleBtn class="btn btn-success rounded-circle shadow-sm d-flex align-items-center justify-content-center"
        style="width: 3rem; height: 3rem;" (click)="toggleMenu()">
        <i class="fa-solid fa-house" style="font-size: 1.3rem; padding-bottom: .2rem;"></i>
    </button>
</div>