<!-- Contenido principal -->
<div class="container-fluid" *ngIf="serie">
  <div class="contenido">
    <img class="izq" [src]="serie.imagen" [alt]="serie.nombre" (error)="serie.imagen='general/default-image.png'">
    <div class="der">
      <div class="nombre">
        <span>{{ serie.nombre }}</span>
      </div>
      <div class="sinopsis">
        <span class="titulo">Sinopsis</span>
        <span class="descripcion lead">{{ serie.sinopsis }}</span>
      </div>
    </div>
  </div>
  <div class="temporadas">
    <span class="titulo">Temporadas</span>
    <div class="card-container">
      <div class="card" *ngFor="let temporada of serie.temporada">
        <img class="card-img" [src]="temporada.imagen" alt="Temporada {{ temporada.temporada }}" (error)="temporada.imagen='general/default-image.png'">>
        <div class="card-content">
          <span class="card-title">Temporada {{ temporada.temporada }}</span>
          <div class="descargas">
            <a class="btn btn-dark vip" [href]="temporada.link">DESCARGA VIP</a>
            <a class="btn btn-primary normal" [href]="temporada.link">DESCARGA NORMAL</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="infotecnica">
    <span class="titulo">Información Técnica</span>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr *ngFor="let info of serie.informacionTecnica">
          <th>{{ info.atributo }}</th>
          <td>{{ info.valor }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="contrasena">
    <span class="titulo">Contraseña:</span><span class="pass">{{ serie.contrasena }}</span>
  </div>
  <!-- <div class="comentarios">
    <span>Comentarios</span>
  </div> -->
</div>
